<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Flex</title>
</head>
<body>
    <div class="mothercontainer">


        <div id="sidebar" class="box">
            <div class="cell">Dashboard</div>
            <div class="cell">Contacts</div>
            <div class="cell">Graphs</div>
        </div>

        <div class="dashboardcenter">
            <div id="cards-component" class="">
                <div class="card">card one</div>
                <div class="card">card two</div>
                <div class="card">card three</div>
            </div>


            <div id="graph-component" class="">
                <div class="graph">graph one</div>
                <div class="graph">graph two</div>
            </div>
        </div>







        </div>




</body>
</html>
