<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid.css">
    <title>grid</title>
</head>
<body>

    <div class="mothercontainer">
        <div class="box">one</div>
        <div id="box2" class="box">two</div>
        <div class="box">three</div>
        <div class="box">four</div>
        <div class="box">five</div>
        <div class="box">six</div>
    </div>

</body>
</html>
